ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", SYMLINK+="ttysba5"
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="ttypixhawk"
ACTION=="add", ATTRS{idVendor}=="148f", ATTRS{idProduct}=="5572", NAME="wlan1"
