<?xml version="1.0"?>
<launch>
    <arg name="name"/>
    <arg name="fcu_url"/>
    <arg name="tgt_system"/>

    <node pkg="mavros" exec="mavros_node" namespace="$(var name)/mavros" respawn="true">
        <param name="fcu_url" value="$(var fcu_url)"/>
        <param name="target_system_id" value="$(var tgt_system)"/>
        <param name="target_component_id" value="1"/>
        <param name="fcu_protocol" value="v2.0"/>
    </node>
</launch>